* {
  font-family: 'Biryani', sans-serif;
  font-weight: 400;
}

.body {
  background-color: #F5F5F5;
}

.main {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  font-size: 30;
  padding-left: 5px;
}

h2 {
  font-size: 26px;
}

.income {
  padding-bottom: 10px;
  margin-bottom: -8;
  position: relative;
  top: 15px;
}
.numbers {
  font-size: 20px;
  padding-bottom: 5px;
  margin-top; 10px;
}

.left-nav{
  float: left;
  width: 70px;
  height: 100vh;
  position: relative;
  background-color: white;
  box-shadow: rgba(0,0,0,0.5)
}

.left-half {
  /* border: 5px solid yellow; */
  height: 100vh;
  width: 750px;
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.logo {
  width: 67px;
  height: auto;
  margin-bottom: 0px;
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 2;
}

.dashboard {
  position: relative;
  left: 10px;
  top: 32vh;
  width: 48px;
  margin-top: 15px;
}

.blue-button {
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  height: 100px;
  width: 728px;
  border-radius: 3px;
  text-align: left;
  box-shadow: rgba(0,0,0,0.5)
}

.manage-accounts {
  width: 350px;
  margin: 10px;
}

.small-img {
  width: 50px;
  height: 50px;
  margin-right: 65px;
  position: relative;
  top: 9px;
  margin-left: 3px;
}

.account-bal {
  background-color: white;
  height: 100px;
  margin-right: 22px;
  margin-top: 15px;
  width: 205px;
  border-radius: 3px;
  text-align: left;
  padding-left: 20px;
  display: inline-block;
  box-shadow: rgba(0,0,0,0.5)
}

.blue-rounded {
  background-color: #1CA3BA;
  height: 29px;
  width: 223px;
  border-radius: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 371px;
  bottom: 5px;
  padding-top: 12px;
  box-shadow: rgba(0,0,0,0.5)
}

.welcome {
  padding-left: 25px;
  padding-top: 31px;
  font-size: 30px;
}

.section-bar {
  display: inline-block;
}

.accounts-text {
  display: inline-block;
}

.accounts {
  display: inline-block;
  width: 714;
  /* border: 5px solid black; */
  background-color: white;
  margin-bottom: 15px;
  box-shadow: rgba(0,0,0,0.5)
}

.bank-right {
  display: inline-block;
  font-size: 28px;
  margin-top: 15;
  margin-bottom: 20;
}

.bank-left {
  display:inline-block;
  font-size: 28px;
  margin-right: 234px;
  margin-top: 15;
  margin-bottom: 20;
}

.bank-left-amazon {
  display:inline-block;
  font-size: 28px;
  margin-right: 201px;
  margin-top: 15;
  margin-bottom: 20;
}

.bank-right-amazon {
  display: inline-block;
  font-size: 28px;
  margin-top: 15;
  margin-bottom: 20;
}

.bank-left-southwest{
  display:inline-block;
  font-size: 28px;
  margin-right: 176px;
  margin-top: 15;
  margin-bottom: 20;
}

.bank-right-southwest {
  display: inline-block;
  font-size: 28px;
  margin-top: 15;
  margin-bottom: 20;
}

.x-button {
  z-index: 2;
  position: relative;
  top: -83px;
  left: 695px;
  width: 20px;
  height: auto;
}

.blue-rounded-trans {
  background-color: #1CA3BA;
  height: 25px;
  width: 201px;
  border-radius: 24px;
  display: inline-block;
  margin-left: 84px;
  padding-top: 10px;
  text-align: center;
}

.accounts-text-right {
  display: inline-block;
  padding-left: 15px;
}

td {
  padding-top: 18px;
  padding-left: 18px;
  border-bottom: 1px solid #CCCCCC;
  padding-right: 51px;
}

table {
  position: relative;
  /* right: 31px; */
  border-collapse: collapse;
}

th {
  text-align: left;
  padding-left: 15px;
}

.right-half {
  background-color: white;
  padding-left: 22px;
  height: 452px;
  /* width: 570; */
  float: right;
  margin-right: -23px;
  margin-top: -675px;
  /* border: 5px solid blue; */
  box-shadow: rgba(0,0,0,0.5)
}

.blue-rounded {
  color: #FFFFFF
}

.blue-rounded-trans {
  color: #FFFFFF
}
