* {
  font-family: 'Biryani', sans-serif;
  font-weight: 400;
}

.body {
  background-color: #F5F5F5;
}

.main {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  padding-left: 5px;
  font-size: 30;
}

.income {
  position: relative;
  top: 15px;
  margin-bottom: -8;
  padding-bottom: 10px;
}

.left-nav{
  position: relative;
  float: left;
  width: 70px;
  height: 100vh;
  background-color: white;
}

.left-half {
  display: inline-block;
  width: 750px;
  height: 100vh;
  margin-left: 20px;
}

.logo {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 67px;
  height: auto;
  margin-bottom: 0px;
  z-index: 2;
}

.dashboard-clipboard {
  position: relative;
  left: 10px;
  top: 32vh;
  width: 48px;
  margin-top: 15px;
  margin-right: 6px;
}

.color-border {
  padding-left: 5;
  border-left: 3px solid #1CA3BA;
}

.dashboard-wallet {
  position: relative;
  left: 10px;
  top: 32vh;
  width: 48px;
  margin-top: 15px;
  margin-right: 6px;
}

.dashboard-profile {
  position: relative;
  left: 10px;
  top: 32vh;
  width: 48px;
  margin-top: 15px;
  margin-right: 6px;
}

.blue-button {
  width: 674px;
  height: 100px;
  border-radius: 3px;
  text-align: left;
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.manage-accounts {
  width: 350px;
  margin: 10px;
}

.small-img {
  position: relative;
  top: 9px;
  width: 50px;
  height: 50px;
  margin-right: 65px;
  margin-left: 11px;
}

.account-bal {
  display: inline-block;
  width: 187px;
  height: 100px;
  margin-right: 22px;
  margin-top: 15px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
  text-align: left;
}

.blue-rounded {
  position: relative;
  left: 318px;
  bottom: -2px;
  display: inline-block;
  background-color: #1CA3BA;
  width: 223px;
  height: 29px;
  padding-top: 12px;
  border-radius: 24px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
  text-align: center;
}

.welcome {
  padding-left: 25px;
  padding-top: 31px;
  font-size: 30px;
}

.section-bar {
  display: inline-block;
}

.accounts-text {
  display: inline-block;
  font-size: 29px
}

.accounts {
  display: inline-block;
  width: 666px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.bank-right {
  display: inline-block;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.bank-left {
  display:inline-block;
  margin-right: 197px;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.bank-left-amazon {
  display:inline-block;
  margin-right: 161px;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.bank-right-amazon {
  display: inline-block;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.bank-left-southwest{
  display: inline-block;
  margin-right: 133px;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.bank-right-southwest {
  display: inline-block;
  margin-top: 15;
  margin-bottom: 20;
  font-size: 28px;
}

.x-button {
  position: relative;
  top: -83px;
  left: 644px;
  width: 20px;
  height: auto;
  z-index: 2;
}

.blue-rounded-trans {
  position: relative;
  right: 23px;
  display: inline-block;
  width: 201px;
  height: 25px;
  margin-left: 107px;
  padding-top: 10px;
  color: white;
  background-color: #1CA3BA;
  border-radius: 24px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
  text-align: center;
}

.accounts-text-right {
  display: inline-block;
  padding-left: 9px;
  font-size: 27px;
}
.main-table {
  padding-left: 18px;
}

td {
  padding-top: 30px;
  padding-right: 45px;
  padding-left: 18px;
  border-bottom: 1px solid #CCCCCC;
}

.td-2 {
  padding-top: 18px;
  padding-right: 51px;
  padding-left: 18px;
  border-bottom: 1px solid #CCCCCC;
}

table {
  position: relative;
  border-collapse: collapse;
}

th {
  padding-left: 6px;
  font-weight: 600;
  text-align: left;
}

.right-half {
  position: relative;
  right: 36px;
  float: right;
  height: 562px;
  margin-right: -23px;
  margin-top: -675px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.blue-rounded {
  color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.blue-rounded-trans-button {
  color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

/* This class hides the transactions page */
.hidden {
  display: none;
}

.wallet-page-left {
  position: relative;
  bottom: 751px;
  left: 110px;
  display: inline-block;
  width: 640px;
  height: 640px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.wallet-page-right {
  position: relative;
  bottom: 1423px;
  left: 820px;
  width: 530px;
  height: 666px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.transactions {
  border-collapse: collapse;
}

.td-2 {
  padding-right: 48px;
  padding-bottom: 8px;
  padding-left: 0px;
  border-bottom: 1px solid grey;
}

.wallet-heading {
  display: inline-block;
  margin-right: 150px;
  font-weight: 400;
}

.table-bg {
  position: relative;
  bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

.wallet-header {
  position: relative;
  bottom: 762px;
  left: 99px;
}

.trans {
  padding-top: 7px;
  padding-left: 0px;
}

.wallet-blue {
  width: 106px;
  height: 30px;
  color: white;
  background-color: #1CA3BA;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.wallet-white {
  width: 106px;
  height: 30px;
  color: #1CA3BA;
  background-color: white;
  border: 1px solid #1CA3BA;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

hr {
  position: relative;
  top: 42px;
}


ul{
  padding-left: 59px;
  list-style: none;
}

.account-from {
  display: block;
}

label {
  display: block;
  padding-bottom: 3;
  font-size: 20px;
}

select {
  width: 410;
  height: 33;
  margin-bottom: 26px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
  font-size: 16px;
  font-family: 'Biryani', sans-serif;
}

input {
  width: 410;
  height: 33;
  font-family: 'Biryani', sans-serif;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
}

.outflow {
  padding-top: 20px;
}

.new-transaction {
  padding-left: 147px;
  padding-top: 30;
  font-size: 30px;
  font-weight: 500;
}

.cat {
  padding-top: 10px;
}

.log {
  width: 131px;
  height: 30px;
  margin-left: 58px;
  color: white;
  background-color: #1CA3BA;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
  font-size: 14px;
}
